
.lmj-banner {
	background: rgb(0, 165, 129);
	color: #fff;
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px rgb(6, 9, 161);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.lmj-logo {
	height: 45px;
	width: 45px;
}